._root {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  /* The sidebar */
  #sidebar {
    width: 240px;
    background: #ffffff;
    border-right: 1px solid #eee;
    padding: 20px;
  }
  
  /* Main content */
  #main  {
    flex: 1; /* takes all remaining space */
    padding: 20px;
    overflow-y: auto;
  }