
   ._root {
    display: grid;
    grid-template-columns: 22% auto;
   }
  
  /* The sidebar */
  #sidebar {
    background: #ffffff;
    border-right: 1px solid #eee;
    padding: 20px;
  }
  
  /* Main content */
  #main  {
    flex: 1; /* takes all remaining space */
    padding: 20px;
    overflow-y: auto;
  }