   .auth-wrapper {
    max-width: 400px;
    margin: auto;
  }
  
  .switch-btn {
    display: flex;
    background: #F3F4F6;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 8px;
  }
  
  .switch-btn button {
    flex: 1;
    padding: 6px;
    border: none;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .switch-btn button.active {
    background: #FFFFFF;
    color: #000;
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-section {
    display: none;
  }
  
  .form-section.active {
    display: block;
    animation: fade 0.3s ease;
  }
  
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .input-section {
    margin-bottom: 20px;
    /* display: flex;
    gap: 30px; */
  }
  
  .input-field {
    display: flex;
    align-items: center;
    background: #f3f3f3;
    padding: 12px;
    border-radius: 8px;
  }
  .input-field input{
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
  }
  
  .input-field img {
    width: 20px;
    margin-right: 10px;
  }
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: -10px;
    margin-bottom: 10px;
    width: 100%;
         
  }
  
  
.btn-div{
    display: flex;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
  
}
.btn-div button{
    padding: 8px;
    width: 50%;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}
.help-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
  
  .primary-btn {
    background: #EAA800;
    color: #000;
  }
  
  .footer-note {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
  }
  