.box_div{
       /* width: 35vw; */
}
.logo_container{
    border-radius: 15px;
    background-color: #2E56FB;
    width: 16%;
    height: 16%;
    padding: 10px 20px;
   /* margin: 0 auto; */
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.dot{
    border: 4px solid white;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #FDC700;
    position: absolute;
    top: -5px;
    right: -5px;
}

.logo_container img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
} 