.box_div{
    /* min-height: 15vh;
 
    /* margin: 0 auto; */
    /* display: flex;
    align-items: center;
    justify-content: center; */ 
       width: 50vw;
}
.logo_container{
    border-radius: 15px;
    background-color: #2E56FB;
    width: 16%;
    height: 20%;
    padding: 18px;
   /* margin: 0 auto; */
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.dot{
    border: 4px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #FDC700;
    position: absolute;
    top: -5px;
    right: -5px;
}

.logo_container img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
} 