.community-board{
   display: flex;
   flex-direction: column;
   gap: 40px;

}
.input-area{
    padding: 30px;
    width: 80%;
    border: 2px solid red;
    border-radius: 10px;
}
textarea{
    padding: 20px;
    width: 100%;
    border: 3px solid rgba(39, 141, 237, 0.614) ;
    border-radius: 10px;
    /* color: black; */
}

.btn-area{
   width: 100%;
   margin: 10px 0;
   display: flex;
   align-items: flex-end;
   justify-content: flex-end;
}

button{
    border: 2px solid;
    border-radius: 5px;
    background: blue;
    padding: 8px 15px;
    color: white;
}
.comment-empty-state{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

