.comm-container{
    border: 1px solid #cecfd1;
    background: #f9fafb;
    box-shadow: #cecfd1;
}

header {
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  gap: 10px;
  border: 1px solid #cecfd1;
}
.logo {
  border-radius: 15px;
  background-color: #2e56fb;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.title h4{
    text-transform: capitalize;
    font-size: 20px;
}

.community-board {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: white;
  margin-top: 5%;
}
.input-area {
  padding: 30px;
  width: 90%;
  border-radius: 10px;
  border: 2px solid #cecfd1;
}

textarea {
  padding: 20px;
  width: 100%;
  border: 3px solid rgba(39, 141, 237, 0.614);
  border-radius: 10px;
  /* color: black; */
}

.btn-area {
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

button {
  border: 2px solid;
  border-radius: 5px;
  background: blue;
  padding: 8px 15px;
  color: white;
}
.comment-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f9fafb ;
}
