

.task-page{
    width: 70%;
    margin: 0 auto;
    border: 1px solid #cecfd1;
    padding: 10px;
}

header {
  background: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  gap: 10px;
  border: 1px solid #cecfd1;
}
.logo {
  border-radius: 15px;
  background-color: #2e56fb;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.title h4{
    text-transform: capitalize;
    font-size: 20px;
}
.switch-btn {
    display: flex;
    background: #F3F4F6;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 8px;
    margin-top: 5%;
  }
  
  .switch-btn button {
    flex: 1;
    padding: 6px;
    border: none;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
  }
  button img{
    width: 50px;
    height: 20px;
  }
  .switch-btn button.active {
    background: #FFFFFF;
    color: #000;
  }
  .analytic-section, .summary-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .analytics{
    display: flex;
    gap: 8px;
  }
  .figures{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
  }
  .figures h4{
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .completed{
    color: rgba(28, 58, 28, 0.678) ;
  }

  .demarcate-line{
    border: 1px solid;
    /* height: 70px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle{
    border: 3px solid rgba(54, 104, 181, 0.824);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    /* padding: 50px; */
  }
  .task-field, .summary-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-color: rgba(63, 63, 234, 0.345);
    padding: 25px;
    /* width: 100%; */
  }
.cto-btn {
    padding: 6px;
    border: none;
    background: rgba(32, 32, 221, 0.84) ;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: white;
}
